.btn {
  border: 0;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
  transition: transform .02s ease, box-shadow .2s ease, background .2s ease;
  box-shadow: var(--shadow);
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn:active {
  transform: translateY(1px);
}

.btn:disabled {
  opacity: .6;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-primary {
  background: rgb(0, 98, 255);
  color: white;
  border: 2px solid white;
}

.btn-primary:hover {
  background: rgb(2, 196, 2);
}

.btn-ghost {
  background: white;
  border: 1px solid var(--gray-300);
}

.btn-danger {
  background: #ef4444;
  color: white;
}

.btn-danger:hover {
  background: red;
}