.btn {
  border: 0;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 500;
  cursor: pointer;
  transition: transform .02s ease, box-shadow .2s ease, background .2s ease;
  box-shadow: var(--shadow);
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn:active {
  transform: translateY(1px);
}

.btn:disabled {
  opacity: .6;
  cursor: not-allowed;
  box-shadow: none;
}

.btn-primary {
  background: #facc15;
  /* amarelo vibrante */
  color: #1e293b;
  /* quase preto */
}

.btn-primary:hover {
  background: #eab308;
  /* amarelo escuro */
}


.btn-ghost {
  background: white;
  border: 1px solid var(--gray-300);
  transition: all 0.2s ease-in-out;
}

.btn-ghost:hover {
  color: red;
  border-color: red;
}

.btn-danger {
  background: #ef4444;
  color: white;
}

.btn-danger:hover {
  background: red;
}